@font-face {
    font-family: 'arabe';
    src: url('./imagens/RubikDirt-Regular') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {

    background-color: #ff3a3a;
    width: 100%;
    padding: 10px;
    margin-top: 0; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center;
    
    
}

nav {

    width: 100%;
    padding: 10px;
    margin-top: 0; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center;
    
    
}

.title {

    max-width: 100%;
    margin-left: 0%;
    margin: auto;

}

body {

    font-family: 'arabe',sans-serif;
    background-image: url("./imagens/fundo.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    overflow-x: hidden;

}

footer {

    background-color: #000000A8; 
    width: 100%; 
    text-align: center;
    color: white;
    padding: 10px 0; 

}


.homeimg {

    max-width: 100px;
    background-size: contain;   
    background-repeat: no-repeat; 
    background-position: center;
    height: 90px;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1%;

}

.carrinho {

    max-width: 100px;
    background-size: contain;   
    background-repeat: no-repeat; 
    background-position: center;
    height: 90px;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1%;

}

.cardapio {

    max-width: 100px;
    background-size: contain;   
    background-repeat: no-repeat; 
    background-position: center;
    height: 90px;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1%;

}

.traco {

    max-width: 100px;
    background-size: contain;   
    background-repeat: no-repeat; 
    background-position: center;
    height: 90px;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1%;
    margin-right: 1%;

}

.cadastro{

    background-color: #00000063;
    width: 50%;
    max-width: 100%;
    background-size: contain;   
    background-repeat: no-repeat; 
    background-position: center;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center; 
    align-items: center;
    overflow-x: hidden;
    flex-direction: column;

}

.titulo{

    color: #ff3a3a;
    font-size: 80px;
    max-width: 20%;
    align-items: center;
    

}

label{

    color: #ff3a3a;

}
